:root {
    --primary-color: #1abc9c;
    --secondary-color: #333;
    --background-light: #f4f4f4;
    --text-color: #333;
    --shadow-color: rgba(0, 0, 0, 0.2);
    
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-light);
    color: var(--text-color);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.form-page {
    display: block;
    padding: 15px;
    background: url('https://th.bing.com/th/id/OIP.L6Cu84iiW3geDYGKRIa3HgHaEK?w=267&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7') center/cover, #ecf0f1;
    border-radius: 30px;
    box-shadow: 0 5px 4px var(--shadow-color);
}

.form-page h1 {
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: bold;
    color: var(--secondary-color);
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}

.form-page input[type="text"],
.form-page input[type="number"],
.form-page input[type="email"] {
    background-color: transparent;
    font-size: 1em;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.4);
}

.form-page button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px var(--shadow-color);
}

.form-page button:hover {
    background-color: #27ae60;
    transform: scale(1.1);
}
.back-button {
    display: inline-block;
    background-color: var(--primary-color);
    margin-top: 15px;
    padding: 10px 20px;
    color: #fff;
    /* background-color: #007bff; */
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5remx;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px var(--shadow-color);
    
}

.back-button:hover {
    background-color: #27ae60;
    transform: scale(1.1);
}
